@font-face{
    font-family: Rodin;
    src: url("./fonts/Rodin.otf");
}

@keyframes instantiate {
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}

@keyframes clignotement {
    0%      {opacity: 0;}
    50%    {opacity: 1;}
    100% {opacity: 0;}
}

body{
    background-color: black;
    color: white;
    font-family: Rodin;
}

div.principale{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: instantiate 3s ease-out;
    font-size: 35px;
}


div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}

h1{
    font-size: 65px;
    padding-left: 20px;
}

p{
    width: 80%;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    padding: 15px;
}

p.click{
    opacity: 0;
    animation: clignotement 2s infinite 3s ease-in-out;
}

a, a:visited{
    color: #93c5fd;
    text-decoration: none;
}

a:hover{
    text-decoration: underline #93c5fd;
}

