/* ===== RESET & BASE ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "JetBrains Mono", "Fira Code", monospace;
    background-color: #0d1117;
    color: #c9d1d9;
    line-height: 1.6;
}

/* ===== LIENS ===== */
a {
    color: #58a6ff;
    text-decoration: none;
}

/* ===== HEADER / NAV ===== */
header {
    background: #161b22;
    border-bottom: 1px solid #30363d;
    padding: 1.5rem 2rem;
}

header h1 {
    font-size: 1.4rem;
    color: #58a6ff;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-top: 1rem;
}

nav a {
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
}

nav a.selected,
nav a:hover {
    background: #21262d;
    color: #3fb950;
}

/* ===== MAIN ===== */
main {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}


/* ===== BOUTONS ===== */
button {
    background: linear-gradient(135deg, #58a6ff, #3fb950);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;

    padding: 10px 20px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

button a{
    color: inherit;
}

button:hover {
    filter: brightness(1.1);
    color: white;
}

button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #3399ff;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

button:hover::before {
  width: 160%;
}



/* ===== FOOTER ===== */
footer {
    background: #161b22;
    border-top: 1px solid #30363d;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

footer h4 {
    color: #58a6ff;
    margin-bottom: 0.5rem;
}

footer p {
    font-size: 0.9rem;
}


::selection {
    background: #58a6ff;
    color: #0d1117;
}

h2.finished::after {
    content: "_";
    color: #3fb950;
    margin-left: 5px;
}



